html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
}

section {
  display: flex;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

h1 {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  opacity: 0.9;
}

.section-background {
  filter: grayscale(100%);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.section-content {
  position: relative;
  margin: 100px;
}

.black-text {
  color: black;
}

.grey-text {
  color: #808080;
}

.white-text {
  color: white;
}

.blue-background {
  background-color: #86e3ce;
}

.green-background {
  background-color: #d0e6a5;
}

.orange-background {
  background-color: #ffdd95;
}

.red-background {
  background-color: #fc887b;
}

.color-bars {
  margin-bottom: 20px;
}

.color-bar {
  display: inline-block;
  height: 14px;
  width: 60px;
  margin-right: 4px;
}

.next-button,
.prev-button {
  cursor: pointer;
  font-size: 24px;
  color: black;
  opacity: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.next-button:hover,
.prev-button:hover {
  color: white;
  opacity: 100%;
}

.next-button {
  bottom: 40px;
}

.prev-button {
  top: 40px;
}

#overview {
  background-color: black;
}

#overview-background {
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  opacity: 0.2;
}

#overview-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}

#overview-next {
  color: white;
}

#authenticity {
  background-color: #86e3ce;
}

#connection {
  background-color: #d0e6a5;
}

#autonomy {
  background-color: #ffdd95;
}

#discipline {
  background-color: #fc887b;
}

@media (min-width: 1600px) {
  .narrow-screen {
    display: none;
  }

  section {
    min-height: 800px;
  }

  h1 {
    font-size: 140px;
    line-height: 120px;
  }

  p {
    font-size: 36px;
    line-height: 44px;
  }

  .section-content {
    position: relative;
    margin: 200px;
  }

  #overview-background {
    right: 200px;
  }
}

@media (min-width: 1310px) and (max-width: 1599px) {
  .narrow-screen {
    display: none;
  }

  section {
    min-height: 800px;
  }

  h1 {
    font-size: 128px;
    line-height: 112px;
  }

  p {
    font-size: 36px;
    line-height: 44px;
  }

  .section-content {
    position: relative;
    margin: 100px;
  }

  #overview-background {
    right: 100px;
  }
}

@media (min-width: 920px) and (max-width: 1309px) {
  .narrow-screen {
    display: none;
  }

  section {
    min-height: 600px;
    max-height: 800px;
  }

  h1 {
    font-size: 90px;
    line-height: 84px;
  }

  p {
    font-size: 24px;
    line-height: 30px;
  }

  .section-content {
    position: relative;
    margin: 70px;
  }

  #overview-background {
    right: 70px;
  }

  #overview-content {
    margin-bottom: 60px;
  }

  .next-button {
    bottom: 30px;
  }

  .prev-button {
    top: 30px;
  }
}

@media (min-width: 560px) and (max-width: 919px) {
  .wide-screen {
    display: none;
  }

  section {
    min-height: 600px;
    max-height: 800px;
  }

  h1 {
    font-size: 80px;
    line-height: 74px;
  }

  p {
    font-size: 24px;
    line-height: 30px;
  }

  .section-content {
    position: relative;
    margin: 48px;
  }

  #overview-content {
    margin-bottom: 60px;
  }

  .next-button {
    bottom: 30px;
  }

  .prev-button {
    top: 30px;
  }
}

@media (max-width: 559px) {
  .wide-screen {
    display: none;
  }

  section {
    min-height: 400px;
    max-height: 500px;
  }

  h1 {
    font-size: 50px;
    line-height: 44px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }

  .section-content {
    position: relative;
    margin: 30px;
  }

  #overview-content {
    margin-bottom: 60px;
  }

  .next-button {
    display: none;
  }

  .prev-button {
    display: none;
  }
}
