body {
  font-family: "Karla", sans-serif;
}

section {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

h1 {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  opacity: 0.9;
}

.section-background {
  filter: grayscale(100%);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.section-content {
  position: relative;
  margin: 100px;
}

.black-text {
  color: black;
}

.grey-text {
  color: #808080;
}

.white-text {
  color: white;
}

.blue-background {
  background-color: #86e3ce;
}

.green-background {
  background-color: #d0e6a5;
}

.orange-background {
  background-color: #ffdd95;
}

.red-background {
  background-color: #fc887b;
}

.color-bars {
  margin-bottom: 20px;
}

.color-bar {
  display: inline-block;
  height: 14px;
  width: 60px;
  margin-right: 4px;
}

#overview {
  background-color: black;
}

#overview-background {
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  opacity: 0.2;
}

#overview-content {
  position: absolute;
  bottom: 0;
}

#authenticity {
  background-color: #86e3ce;
}

#connection {
  background-color: #d0e6a5;
}

#autonomy {
  background-color: #ffdd95;
}

#discipline {
  background-color: #fc887b;
}

@media (min-width: 1600px) {
  .narrow-screen {
    display: none;
  }

  section {
    min-height: 800px;
  }

  h1 {
    font-size: 140px;
    line-height: 120px;
  }

  p {
    font-size: 36px;
    line-height: 44px;
  }

  .section-content {
    position: relative;
    margin: 200px;
  }
}

@media (min-width: 1260px) and (max-width: 1599px) {
  .narrow-screen {
    display: none;
  }

  section {
    min-height: 800px;
  }

  h1 {
    font-size: 128px;
    line-height: 112px;
  }

  p {
    font-size: 36px;
    line-height: 44px;
  }

  .section-content {
    position: relative;
    margin: 80px;
  }
}

@media (min-width: 920px) and (max-width: 1259px) {
  .narrow-screen {
    display: none;
  }

  section {
    min-height: 600px;
    max-height: 800px;
  }

  h1 {
    font-size: 90px;
    line-height: 84px;
  }

  p {
    font-size: 36px;
    line-height: 44px;
  }

  .section-content {
    position: relative;
    margin: 70px;
  }
}

@media (min-width: 560px) and (max-width: 919px) {
  .wide-screen {
    display: none;
  }

  section {
    min-height: 600px;
    max-height: 800px;
  }

  h1 {
    font-size: 80px;
    line-height: 74px;
  }

  p {
    font-size: 36px;
    line-height: 44px;
  }

  .section-content {
    position: relative;
    margin: 48px;
  }
}

@media (max-width: 559px) {
  .wide-screen {
    display: none;
  }

  section {
    min-height: 400px;
    max-height: 500px;
  }

  h1 {
    font-size: 50px;
    line-height: 44px;
  }

  p {
    font-size: 36px;
    line-height: 44px;
  }

  .section-content {
    position: relative;
    margin: 30px;
  }
}
